<div class="container">
    <h2>View 1</h2>
Search:
    <br />
    <input type="text" data-ng-model="filter.search" />
    <br />
    <ul>
    <li data-ng-repeat="i in clients|filter:filter.search">{{i.name|uppercase}} - {{i.city|lowercase}}</li>
    
    </ul>
        <br />
        Client name: <br />
        <input type="text" data-ng-model="newClient.name" />
        <br />
        Client city:<br />
        <input type="text" data-ng-model="newClient.city" />
        <br />
        <button data-ng-click="addClient()"> Add Client  </button>
        <br />
        <a href="#view2">View2 </a>

        






</div>